html {
	width                                                          : 100%;
	height                                                         : 100%;
}

body {
	width                                                          : 100%;
	height                                                         : auto;
	margin                                                         : 0 auto;
	padding                                                        : 0;
	margin                                                         : 0 auto;
	font-family                                                    : $font-family;
	font-size                                                      : $app-base-font-size;
	line-height                                                    : $app-base-line-height;
	background-image                                               : url('~images/fundo.png');
	background-size                                                : cover;
	background-position                                            : center;
	background-repeat-x                                            : no-repeat;
}

#root {
	width                                                          : 100%;
	height                                                         : auto;
}

.main-container {
	width                                                          : 100%;
	padding                                                        : 60px 20px;
}