.entry-container {
	display                                                               : table;
	width                                                                 : 100%;
	height                                                                : auto;
	.entry-wrapper {
		display                                                           : table-cell;
		vertical-align                                                    : middle;
		width                                                             : 100%;
		height                                                            : auto;
		.title-container {
			width                                                         : 100%;
			height                                                        : auto;
			margin                                                        : 0 0 4% 0;
			.title-wrapper {
				width                                                     : 100%;
				height                                                    : auto;
				.title {
					display                                               : block;
					width                                                 : 100%;
					height                                                : auto;
					max-width                                             : 620px;
					margin                                                : 0 auto;
				}
			}
		}
		.content-container {
			width                                                         : 100%;
			height                                                        : auto;
			max-width                                                     : 1024px;
			margin                                                        : 0 auto;
			.content-wrapper {
				display                                                   : table;
				width                                                     : 100%;
				height                                                    : auto;
				margin                                                    : 0 auto;
				background-image                                          : url('~images/content_background.png');
				background-size                                           : 80% 60%;
				background-position                                       : center 200px;
				background-repeat                                         : no-repeat;
				.block-container {
					width                                                 : 256px;
					height                                                : auto;
					padding                                               : 20px;
					float                                                 : left;
					&.hideSlide {
						.slick-slider {
							display                                       : none;
						}
					}
					.name-wrapper {
						width                                             : 100%;
						height                                            : auto;
						margin                                            : 0 0 20px 0;
						.name {
							display                                       : block;
							width                                         : auto;
							height                                        : 40px;
							margin                                        : 0 auto;
						}
					}
					.slot-container {
						width                                             : 100%;
						height                                            : auto;
						border-radius                                     : 70px;
						background-color                                  : #F4CE0F;
						box-shadow                                        : 6px 6px 0px 0px rgba(0, 0, 0, 0.2);
						.slot-wrapper {
							width                                         : 100%;
							height                                        : 280px;
							padding                                       : 10px;
							overflow                                      : hidden;
							.slot {
								width                                     : 100%;
								height                                    : 260px;
								border-radius                             : 62px;
								background-color                          : #FFFFFF;
								box-shadow                                : 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
								overflow                                  : hidden;
								background-size                           : cover;
								background-position                       : center;
								.slider {
								    height                                : 260px;
								}
							}
						}
					}
				}
				.button-container {
					display                                               : table;
					width                                                 : 100%;
					height                                                : auto;
					max-width                                             : 1024px;
					padding                                               : 60px 0 0 0;
					.button-wrapper {
						width                                             : 100%;
						height                                            : auto;
						.button {
							display                                       : block;
							width                                         : 160px;
							height                                        : 100px;
							border-radius                                 : 40px;
							border                                        : 6px solid #FFFFFF;
							margin                                        : 0 auto;
							background-color                              : #F4CE0F;
							box-shadow                                    : 6px 6px 0px 0px rgba(0, 0, 0, 0.2);
							outline                                       : none;
							.button-image {
								width                                     : 100%;
								height                                    : auto;
							}
						}
					}
				}
				@media only screen and (max-width : 1065px) {
					width                                                 : 512px;
					background-image                                      : url('~images/content_background_2.png');
					background-size                                       : 80% 76%;
					background-position                                   : center 180px;
					background-repeat                                     : no-repeat;
					.block-container {
					}
				}
				@media only screen and (max-width : 569px) {
					width                                                 : 280px;
					background-image                                      : url('~images/content_background_2.png');
					background-size                                       : 80% 76%;
					background-position                                   : center 110px;
					background-repeat                                     : no-repeat;
					.block-container {
						width                                             : 140px;
						.name-wrapper {
							.name {
								height                                    : 20px;
							}
						}
						.slot-container {
							border-radius                                 : 20px;
							.slot-wrapper {
								height                                    : 140px;
								.slot {
									height                                : 120px;
									border-radius                         : 12px;
									img {
										width                             : 80px;
										height                            : 120px;
									}
								}
							}
						}
					}
					.button-container {
						padding                                           : 30px 0 0 0;
						.button-wrapper {
							.button {
								width                                     : 120px;
								height                                    : 60px;
								border-radius                             : 20px;
    							border                                    : 4px solid #FFFFFF;
								.button-image {
									height                                : 50px;
								}
							}
						}
					}
				}
			}
		}
	}
}